server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      httpclient:
        connect-timeout: 10000
        response-timeout: 10s
      routes:
        - id: authentication-service
          uri: lb://authentication-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0
        
        - id: vehicle-catalog-service
          uri: lb://vehicle-catalog-service
          predicates:
            - Path=/api/catalog/**
          filters:
            - StripPrefix=0
        
        - id: appointment-service
          uri: lb://appointment-service
          predicates:
            - Path=/api/appointments/**
          filters:
            - StripPrefix=0
        
        - id: ownership-service
          uri: lb://ownership-service
          predicates:
            - Path=/api/ownership/**
          filters:
            - StripPrefix=0
        
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: Authentication Service
        url: /api/auth/api-docs
      - name: Vehicle Catalog Service
        url: /api/catalog/api-docs
      - name: Appointment Service
        url: /api/appointments/api-docs
      - name: Ownership Service
        url: /api/ownership/api-docs
      - name: Payment Service
        url: /api/payments/api-docs
