server:
  port: 8082

spring:
  application:
    name: vehicle-catalog-service
  datasource:
    url: jdbc:mysql://localhost:3306/catalogla_db?createDatabaseIfNotExist=true
    username: root
    password: Nitish@09
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
