server:
  port: 8083

spring:
  application:
    name: appointment-service
  datasource:
    url: jdbc:mysql://localhost:3306/appointmentla_db?createDatabaseIfNotExist=true
    username: root
    password: Nitish@09
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    sql:
    init:
      mode: always
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  queue:
    name: appointment-notifications
  exchange:
    name: appointment-exchange
  routing:
    key: appointment.created

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
